
  
  .MainPage {
    width: 99.9%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    
  }
  .scroll{
      overflow: scroll;
      overflow-x: hidden;
      
      
    
  }
  .top {
    width: 100%;
    height: 70px;
    background-color:hsl(0, 0%, 100%);
    border: 1px solid lightgray;
    border-right: none;
    
   
  }
  
  .center {
    width: 99%;
    height: 90%;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    
   
  }
  
  .VideoView {
      padding: 20px;
    width: 99%;
    height: 90%;
    background-color: hsl(0, 0%, 100%);
    
  }
  