
  
  .MainPage {
    width: 99.9%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
   overflow: hidden;

      overflow-x: hidden;
    overflow-y: hidden;
  
     
    
  }
  
  
  .scroll{

      overflow: auto;
      overflow-x:hidden;
     
     
   
      
      
    
  }
  
  
  .scrollx{
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
     
}
  



.top {
  display: flex;
    width: 100%;
    height: 70px;
    background-color:hsl(0, 0%, 100%);
    border: 1px solid lightgray;
    border-right: none;
    
   
  }
  
  .center {
    width: 99.99%;
    height: 93.5%;
    background-color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    
    
    
   
  }
  .center .bar {
    height: 97%;
    width: 23%;
   
    
    
  }
  
  .VideoView {
    
    
    
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    
  }
  .VideoView .content{
     padding-left: 10px;
     
  }


  .footer p{
    padding-right:0px;
    font-size: 0.8em;
    color: white;
    margin: 1em 0;
    font-size: 1rem;
    padding-bottom: 30px;
}
.footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
    font-size: 20px;
    
}
.footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: white;
    transition: 100ms;
}
.footer ul li a:hover{
    color: black;
}

.footer{
    width:auto;
    height: 70px;
    
    background:orangered;
    color: white; 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
    /* position: sticky;
    top: 100%; */
}




/* Sticky Footer Styling */

.sticky-footer{
    position: sticky;
    top: 100%;
    
} 


